body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    background: url(../1/pic/1.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

#modal{
    background-color: white;
    width: 70%;
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 20px;
    text-align: justify;
    border-radius: 3px;
    transition: all 1.5s ease;
    transition-duration: 1s;
    border-radius: 15px;
}
#modal p{
    font-size: 17px;
}
#modal i{
    position: absolute;
    right: 0;
    top: 0;
    font-size: 30px;
    cursor: pointer;
    margin: 5px;
    border-radius: 5px;
}

#header{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    color: white;
}
#header h1{
    font-size: 40px;
}

#header button{
    padding: 5px 50px;
    cursor: pointer;
    font-size: 25px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    outline: none;
    border: none;
}